.Message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    font-size: 18px;
    text-align: center;
    transition: 0.5s;
}

.Success {
    background-color: #ebebeb;
    color: black;
}

.Error{
    background-color: #8a8a8a;
    color: black;
}